.AllCard {
  width: 100%;
  padding: 20px 50px 0 50px;
  display: flex;
  justify-content: space-between;
  background-color: #17202a;
}

.Card {
  width: 200px;
  height: 280px;
  background-color: #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
  transition: 0.3s;
  position: relative;
}

.Card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.3s;
  opacity: 0.7;
}

.Card .tim {
  color: #ff0000;
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px 0 10px 0;
  padding: 2px 8px;
  letter-spacing: 2px;
  left: 0;
  top: 0;
  animation: 0.8s new infinite;
}

.Card .title {
  color: #fff;
  font-weight: bolder;
  font-size: 20px;
  position: absolute;
  bottom: 20px;
}

.Card:hover {
  transform: translateY(-10px);
}

.Card:hover.card_cub img {
  opacity: 1;
}

.Card:hover .title {
  display: none;
}

.Card .stream_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
  position: absolute;
  bottom: 20px;
}

.Card .stream_block .stream_btn {
  background-color: #f00;
  color: #fff;
  transition: 0.3s;
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  display: none;
}

.Card .stream_block .stream_trailer_btn {
  color: #000;
  background-color: #fff;
  transition: 0.3s;
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 18px;
  display: none;
}

.Card:hover .stream_btn {
  display: block;
}

.Card:hover .stream_trailer_btn {
  display: block;
}

@keyframes new {
  25% {
    color: #ff0;
    transform: scale(1.03);
  }
  50% {
    color: #f00;
    transform: scale(1);
  }
  75% {
    color: #0f0;
    transform: scale(1.03);
  }
  100% {
    color: #f00;
    transform: scale(1);
  }
}
