.Header {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  background-color: #000;
  position: relative;
}

.title {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 100px;
}

h1 {
  color: #fff;
  font-size: 35px;
  font-weight: bolder;
}

.btn_block {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.btn_watch, .btn_download {
  border: 1px solid #fff;
  background-color: #fff;
  margin-right: 20px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: normal;
  border-radius: 5px;
}