.Navbar {
  width: 100%;
  overflow: hidden;
  padding: 10px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #17202a;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.Navbar .logo {
  color: #fff;
  font-size: 40px;
  font-weight: normal;
  letter-spacing: 2px;
  cursor: pointer;
}

.Navbar .search {
  width: 45%;
  display: flex;
  align-items: center;
  position: relative;
}

.Navbar .search .search_icon {
  position: absolute;
  color: #fff;
  font-size: 18px;
  left: 5px;
}

.Navbar .search .search_input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 5px 80px 5px 30px;
  font-weight: normal;
  font-size: 18px;
  color: #fff;
}

.Navbar .search .search_btn {
  height: 80%;
  position: absolute;
  right: 5px;
  border: none;
  padding: 0 15px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: normal;
  color: #000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Navbar .search .search_btn:active {
  transform: scale(0.95);
}

.Navbar .menu {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}

.Navbar .menu li a:hover {
  color: #f00;
}
